a2wsgi==1.10.10
adbc_driver_manager==1.11.0
adbc_driver_postgresql==1.11.0
adbc_driver_sqlite==1.11.0
aiobreaker==1.2.0
anywidget==0.10.0
AppKit==0.2.8
argcomplete==3.6.3
asyncpg==0.30.0
atheris==3.0.0
authlib==1.6.9
beautifulsoup4==4.14.3
bertopic==0.17.4
boto3==1.42.85
botocore==1.42.85
brotli==1.2.0
brotlicffi==1.2.0.1
chardet==5.2.0
checks==0.2
ConfigParser==7.2.0
contextlib2==21.6.0
cryptography==46.0.7
cudf==0.6.1.post1
cupy==14.0.1
cycler==0.12.1
Cython==3.2.4
dask==2026.3.0
dask_expr==2.0.0
defusedxml==0.7.1
docutils==0.22.4
duckdb==1.5.1
email_validator==2.3.0
eval_type_backport==0.3.1
exceptiongroup==1.3.1
fastapi_cli==0.0.24
fastapi_limiter==0.2.0
fastparquet==2026.3.0
filelock==3.25.2
Foundation==0.1.0a0.dev1
fqdn==1.5.1
fsspec==2026.3.0
geopandas==1.1.3
gitdb_speedups==0.1.0
gunicorn==25.3.0
h2==4.3.0
HTMLParser==0.0.2
httptools==0.7.1
httpx==0.28.1
huggingface_hub==1.9.1
hypothesis==6.151.11
ibis==3.3.0
importlib_resources==6.5.2
ipython==8.12.3
ipywidgets==8.1.8
isoduration==20.11.0
itsdangerous==2.2.0
jnius==1.1.0
JPype1==1.6.0
jsonpath_ng==1.7.0
jsonpointer==3.0.0
keyring==25.7.0
langchain_core==1.2.27
langchain_google_genai==4.2.1
langchain_mistralai==1.1.2
langchain_ollama==1.1.0
langchain_openai==1.1.12
lxml==6.0.2
matplotlib==3.10.8
mistralai==2.3.1
mock==5.2.0
modin==0.37.1
mtrand==0.1
multipart==1.3.1
mypy_boto3_secretsmanager==1.42.8
numexpr==2.14.1
odfpy==1.4.1
olefile==0.47
openai==2.30.0
openpyxl==3.1.5
orjson==3.11.8
outcome==1.3.0.post0
pexpect==4.9.0
pgvector==0.4.1
plotly==6.6.0
polars==1.39.3
polars_st==0.6.2
presidio_analyzer==2.2.362
presidio_anonymizer==2.2.362
psutil==7.2.2
psycopg2==2.9.11
pycares==5.0.1
pycurl==7.45.7
PyInstaller==6.19.0
pyodide==0.0.2
pyOpenSSL==26.0.0
pyperf==2.10.0
PyQt4==4.11.4
PyQt5==5.15.11
PyQt6==6.11.0
pyrate_limiter==4.1.0
PySide6==6.11.0
pyspark==4.1.1
pytest_run_parallel==0.8.2
python_calamine==0.6.2
python_multipart==0.0.24
pywin32==311
pyxlsb==1.0.10
qtpy==2.4.3
redis==7.4.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rfc3987_syntax==1.1.0
s3fs==2026.3.0
scikit_learn==1.8.0
scipy==1.17.1
scipy_doctest==2.2.0
sentence_transformers==5.3.0
sets==0.3.2
setuptools==80.9.0
setuptools_scm==10.0.5
simplejson==3.20.2
sniffio==1.3.1
snowflake==1.12.0
Sphinx==9.1.0
SQLAlchemy==2.0.49
sqlframe==4.1.0
sqlparse==0.5.5
streamlit_pdf==2.0.1
sympy==1.14.0
tables==3.11.1
thread==2.0.6
threadpoolctl==3.6.0
traitlets==5.14.3
trio==0.33.0
ujson==5.12.0
umap_learn==0.5.11
uri_template==1.3.0
urllib3_secure_extra==0.1.0
vegafusion==2.0.3
watchfiles==1.1.1
webcolors==25.10.0
winloop==0.6.0
wsproto==1.3.2
xarray==2026.2.0
xlrd==2.0.2
xlsxwriter==3.2.9
xmlrpclib==1.0.1
zope==6.0
